@{
    ViewBag.Title = "Home Page";
}
<br/>
<br />


<div class="navbar-collapse collapse">
    
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("ManageUsers", "UsersWithRoles", "ManageUsers", null, new { @class = "btn btn-default" })</li>
            </ul>
                }
        @if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
        {
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Manage Account", "Index", "ManagerStaffViewModels", null, new { @class = "btn btn-default" })</li>
                <li>@Html.ActionLink("Manage Category", "Index", "Categories", null, new { @class = "btn btn-default" })</li>
                <li>@Html.ActionLink("Manage Topics", "Index", "Topics", null, new { @class = "btn btn-default" })</li>
                <li>@Html.ActionLink("Manage Courses", "Index", "Courses", null, new { @class = "btn btn-default" })</li>
                <li>@Html.ActionLink("Assign Trainer Topic", "Index", "TrainerTopics", null, new { @class = "btn btn-default" })</li>
                <li>@Html.ActionLink("Assign Trainee Course", "Index", "TraineeCourses", null, new { @class = "btn btn-default" })</li>

            </ul>

        }
        @if (Request.IsAuthenticated && User.IsInRole("Trainer"))
        {
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Trainer Topic", "Index", "TrainerTopics", null, new { @class = "btn btn-default" })</li>
                <li>@Html.ActionLink("Profile Trainer", "About", "Home", null, new { @class = "btn btn-default" })</li>
            </ul>
        }
        @if (Request.IsAuthenticated && User.IsInRole("Trainee"))
        {
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Trainee Courses", "Index", "TraineeCourses", null, new { @class = "btn btn-default" })</li>
            </ul>
        }
    



</div>