@model IEnumerable<WebApplicationTraining.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Course</h2>
@if (User.IsInRole("TrainingStaff"))
{
    <p>
        @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-primary" })
    </p>
}
<table class="table">
        <tr>
            <th>Name</th>
            <th>Category Name</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>

   @foreach (var course in Model)
    {
        <tr>
                <td>@course.Name</td>
                <td>@course.Category.Name</td>
                

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = course.Id }, new { @class = "btn btn-danger" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = course.Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to home", "Index", "Home", null, new { @class = "btn btn-primary" })


