﻿@model IEnumerable<WebApplicationTraining.Models.Topic>

@{ ViewBag.Title = "Topic"; }

<h2>Topic</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        

    </tr>

    @foreach (var topic in Model)
    {
        <tr>
            <td>@topic.Name</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = topic.Id }, new { @class = "btn btn-default" })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = topic.Id }, new { @class = "btn btn-danger" })</td>
            

        </tr>
    }

</table>

@Html.ActionLink("Back to home", "Index", "Home",null,new { @class = "btn btn-primary" })

