﻿@model IEnumerable<WebApplicationTraining.Models.Topic>

@{
    ViewBag.Title = "Topic";
}

<h2>Topic</h2>
@if (User.IsInRole("TrainingStaff"))
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
}
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        @if (User.IsInRole("TrainingStaff"))
        {
            <th> Delete </th>
            <th> Edit </th>
        }
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>@category.Description</td>
            @if (User.IsInRole("TrainingStaff"))
            {
                <td>@Html.ActionLink("Delete", "Delete", new { id = category.Id }, new { @class = "btn btn-danger" })</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = category.Id }, new { @class = "btn btn-default" })</td>
            }
        </tr>
    }
</table>
@Html.ActionLink("Back to home", "Index", "Home", null, new { @class = "btn btn-primary" })

